body {
    font-family: Arial;
    padding: 20px;
    background: #f4f4f4;
}

h1 {
    text-align: center;
}

.form-container {
    margin-bottom: 20px;
    text-align: center;
}

input {
    padding: 10px;
    margin: 5px;
}

button {
    padding: 10px 15px;
    cursor: pointer;
}

table {
    width: 100%;
    background: white;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: center;
}