<!DOCTYPE html>
<html>
<head>
    <title>ML CRUD App</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <h1>Student Management System</h1>

    <div class="form-container">
        <input type="text" id="name" placeholder="Student Name">
        <input type="number" id="marks" placeholder="Marks">
        <input type="number" id="attendance" placeholder="Attendance (0 or 1)">
        
        <button onclick="addStudent()">Add Student</button>
    </div>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Marks</th>
                <th>Attendance</th>
                <th>Prediction</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody id="studentTable"></tbody>
    </table>

<script src="/static/script.js"></script>
</body>
</html>